<%= form_with(model: student, url: student_update_skills_path(student), method: "post") do |f| %>
  <ul>
    <% @skill_map.each do |k, skill_list| %>
    <li>
      <h4><%= k %></h4>

      <ul>
        <% skill_list.each do |skill| %>
        <li>
          <div class="form-group form-check">
            <%= check_box_tag 'skills[]', skill.id, skill.in?(@student.skills), class: "form-check-input" %>
            <label class="form-check-label" for="<%= skill.name.parameterize %>"><%= skill.name %></label>
          </div>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>

  <div class="col-lg-10 fixed-save-container">
    <%= f.submit "Salvar", class: "btn btn-block btn-success" %>
  </div>
<% end %>
