<%= form_with(model: company, local: true, html: { class: "container" }) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :address, class: "label" %>
    <div class="control">
      <%= form.text_field :address, class: "input" %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :phone1, class: "label" %>
        <div class="control">
          <%= form.text_field :phone1, class: "input" %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :phone2, class: "label" %>
        <div class="control">
          <%= form.text_field :phone2, class: "input" %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :email, class: "label" %>
        <div class="control">
          <%= form.text_field :email, class: "input" %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :site, class: "label" %>
        <div class="control">
          <%= form.text_field :site, class: "input" %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :cnpj, class: "label" %>
    <div class="control">
      <%= form.text_field :cnpj, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :about, class: "label" %>
    <div class="control">
      <%= form.text_area :about, class: "textarea" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
